@{  Layout = null;}
<div class="form-group">
    <label class = "control-label col-md-2">Prix Unitaire</label>
    <input type="text" id="pu" value="@ViewBag.Pu" class="form-control" readonly="readonly"/>
</div>
