@{
    ViewBag.Title = "La Rigueur Et L’authenticité De La Torréfaction Artisanale.";
}


<p>
<h2>@ViewBag.Title.</h2>
<br />
Chez Lenoir Lacroix, nous croyons que notre travail en tant que torréfacteur est de souligner avec le meilleur doigté tout le travail et la passion qu’exige la culture du café. Pour ce faire, notre travail, quoiqu’artisanal, est des plus rigoureux, afin justement de respecter l’authenticité des différents terroirs d’exception. C’est à travers nos nombreuses années d’expérience dans le domaine du café que nous nous sommes bâtis une solide réputation en développant des cafés d’exception, tasse après tasse. Depuis les tout premiers débuts de l’entreprise, notre objectif est simple : redonner au café les lettres de noblesse qu’il mérite.
<br />
Microtorréfacteur depuis 2005, nous avons fait des choix de valeurs:
<br/>
<ul>
<li>Production respectant l’environnement, aucune émission de CO2.</li>
<li>Achats directs ou de coopératives de café biologique et équitable.</li>
<li>Mise en place de relations durables avec des producteurs de café choisis</li>
<li>Explorations gastronomiques avec le café et expériences gustatives</li>
<li>Le respect: des gens, des terroirs, et du goût</li>
</ul>
<br />
<h2>Historique Et Philosophie</h2>
<br />
En 2004, Christian Lacroix s’est rendu en Californie afin de réaliser un contrat de consultation pour le développement d’un microtorréfacteur. Un homme d’affaires de Long Beach a retenu les services et l’ expérience de Christian Lacroix dans le but de créer un microtorréfacteur unique et différent. Le mandat terminé, Christian revient au Québec et commence les opérations de torréfaction de café. Lenoir & Lacroix a été fondée suite à une réflexion sur l’approche de la microtorréfaction, dans un esprit de renouveau. Peu de temps après le début des opérations, le frère de Christian, Stéphane, se joint à l’entreprise.

Faire autrement, voilà la grande motivation derrière le démarrage de ce microtorréfacteur.

Des valeurs importantes sont mises de l’avant dans le développement de Lenoir & Lacroix, en premier lieu, le respect du café. Il est important pour les deux frères de prendre le temps nécessaire, à la torréfaction, afin de révéler les arômes et saveurs du terroir choisi.

Deuxièmement, s’assurer de la pérennité des sols et de la préservation de l’environnement ainsi que de la qualité de vie des producteurs en choisissant des cafés biologiques et équitables.

Troisièmement, le respect de l’environnement: l’entreprise vise à ne produire aucune émission de CO2.

Finalement, concernant les plaisirs gastronomiques, les artisans torréfacteurs de Lenoir & Lacroix développent des cafés gourmets afin de rehausser les saveurs de différents fromages, de chocolats, de différents alcools et même de certains mets. Nos 30 années d’expérience dans le domaine du café ainsi que nos vastes connaissances gastronomiques nous permettent de vous proposer des mariages à la fois surprenants et équilibrés. À ce jour, nous avons marié nos cafés avec plus de 60 fromages du terroir québécois, plusieurs cacaos ainsi que différents mets, ceci en créant toujours de nouveaux mélanges exclusifs. L’expérience a été vécue par des centaines de personnes depuis le début de nos aventures gustatives.

Voilà les différentes accréditations avec lesquelles nous travaillons.
<ul>
<li>Café de certification biologique ÉCOCERT.</li>
<li>Certification BIRD FRIENDLY.</li>
<li>Certification RAINFOREST ALLIANCE.</li>
<li>Certication équitable.</li>
</ul>
</p>
