@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Francois-joel coporation<br />
    BP 810 Douala-Cameroun<br />
    <abbr title="Phone">Tel:</abbr>
    237-679285960
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">francoisyoualeu@cafe-guess.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">joelpangop@cafe-guess.com</a>
</address>